$primary: #5181b8;

@import "bootstrap";
app-root, html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div::-webkit-scrollbar {
  width: 5px;
}

div::-webkit-scrollbar-track {

}

div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.ui-icon{
  background-color: var(--light);
}
